@page "/display-data-01"
@rendermode InteractiveServer

<h3>Display_Data_01</h3>


@clickedItem["Id"]

@if (!EditMode)
{
    <table class="styled-table">
        <thead>
            <tr>
                @foreach (var columnName in columnNames)
                {
                    <th>@columnName</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var row in rowsAsDictionaries)
            {
                <tr @onclick="() => HandleRowClick(row)">
                    @foreach (var columnName in columnNames)
                    {
                        <td>@row[columnName]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <EditForm Model="@clickedItem" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        @foreach (var columnName in columnNames)
        {
            if (@columnName != "Id")
            {
                <div class="form-group">
                    <label for="@columnName">@columnName</label>
                    <input id="@columnName"
                           class="form-control"
                           value="@clickedItem[columnName]"
                           @oninput="(e) => clickedItem[columnName] = e.Value.ToString()" />
                </div>
            }
        }
        <button type="submit" class="btn btn-primary">Save</button>
        @* <button type="button" class="btn btn-secondary" @onclick="CancelEdit">Cancel</button> *@
    </EditForm>
}

